# Exclude files/folders from Docker build context
# Still ignore 'run' because it conflicts with Docker internal paths
run

# Basic excludes
.git
.gitignore
.dockerignore
.vscode
target/
build/
bin/
out/
*.log
*.tmp
.DS_Store
**/.DS_Store
HELP.md
application-local.properties
.env

# DO NOT ignore mvnw or .mvn folders because the Dockerfile needs them!
